<!DOCTYPE html>
<html lang="tw">

<head>
    <meta charset="UTF-8">
    <title>Karen's Portfolio | Web Design X App Design X User Experience</title>
    <meta name="description" content="I am Karen.I have 4+ years in web design/development,App design and user experience.。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="zh-TW">
    <meta name="keywords" content="portfolio,web design,web development,App design,User Experience,WoodStone Design,木石設計,網頁設計,外包接案">
    <meta name="author" content="Karen">
    <!-- FB meta tag -->
    <meta name="og:description" content="I am Karen.I have 4+ years in web design/development,App design and user experience." />
    <meta property="og:title" content="Karen's Portfolio-Web Design X App Design X User Experience" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://karentsai2397.github.io" />
    <meta property="og:image" content="http://karentsai2397.github.io/images/fbcover.jpg" />
    <meta property="og:site_name" content="Karen's Portfolio" />
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.min.css">
    <!-- Animate -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="images/Icon.png">
    <link rel="apple-touch-icon" sizes="72×72" href="images/Icon-72.png">
    <link rel="apple-touch-icon" sizes="114×114" href="images/Icon@2.png">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="bookmark" href="images/favicon.ico" />
    <!-- IE8 support -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="allprojects" class="gray">
    <div id="gotop" class="animated bounceInUp"></div>
    <header>
        <a href="index.html" class="image avatar"><img src="images/logo.png" alt="Karen Tsai" /></a>
        <h1><strong>Karen Tsai</strong></h1>
        <div class="tags">
            <ul>
                <li>Web</li>
                <li>UI Design</li>
                <li>UX</li>
            </ul>
        </div>
        <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <nav>
            <ul>
                <li><a href="about.html">About Me</a></li>
                <li class="current"><a href="index.html">Projects</a></li>
                <!-- <li><a href="contact.html">Contact</a></li> -->
            </ul>
            <div class="tags">
                <ul>
                    <li>Web</li>
                    <li>UI Design</li>
                    <li>UX</li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="content-block">

            <!-- web-design -->
            <section id="web-design" class="wow fadeInDown" data-wow-delay="0.2s">
                <h2>Web Design</h2>

                <div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-12" v-for="(id,web) in weblist">
                        <a href="#web{{id+1}}" class="project-item fancybox to-animate" rel="gallery1">
                            <img data-default-src="images/thumbs/{{web.year}}/{{web.img_thumbs}}" class="img-responsive" alt="{{web.name}}">
                            <div class="text">
                                <h2>{{web.name}}</h2>
                                <span>{{web.subname}}</span>
                            </div>
                        </a>
                        <div class="content" id="web{{id+1}}">
                            <div class="cover"><img data-default-src="images/fulls/{{web.year}}/{{web.img_default}}.jpg" data-xs-src="images/fulls/{{web.year}}/{{web.img_default}}-m.jpg" alt="{{web.name}}"></div>
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-sm-5 col-lg-offset-1 circle-block">
                                    <div class="circle" v-if="web.rwd"><div class="icon-rwd"></div><p>響應式網頁</p></div>
                                    <div class="circle" v-if="web.development"><i class="icon-codeopen"></i><p>Development</p></div>
                                    <div class="circle" v-if="web.design"><i class="icon-feather"></i><p>{{web.designtype}}</p></div>
                                </div>
                                <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                                    <h2>{{web.name}}</h2>
                                    <p><i class="icon-monitor"></i><i class="icon-mobile" v-if="web.rwd"></i><a href="{{web.url}}" target="_blank">{{web.url_text}}</a></p>
                                    <p>{{web.description}}</p>
                                </div>
                            </div>
                            <img data-default-src="images/fulls/{{web.year}}/{{demo_item}}" class="img-responsive" alt="{{web.name}}" v-for="demo_item in web.demo">
                        </div>
                    </div>
                </div><!-- .row -->
                <!--<button id="web-btn">More</button>-->
            </section>
            <!-- End #web-design -->

            <!-- app-design -->
            <section id="app-design" class="wow fadeInDown" data-wow-delay="0.2s">
                <h2>App Design</h2>
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-12" v-for="(id,app) in applist">
                        <a href="#app{{id+1}}" class="project-item fancybox to-animate" rel="gallery2">
                            <img data-default-src="images/thumbs/{{app.year}}/{{app.img_thumbs}}" class="img-responsive" alt="{{app.name}}">
                            <div class="text">
                                <h2>{{app.name}}</h2>
                                <span>{{app.subname}}</span>
                            </div>
                        </a>
                        <div class="content" id="app{{id+1}}">
                            <div class="cover"><img data-default-src="images/fulls/{{app.year}}/{{app.img_default}}.jpg" data-xs-src="images/fulls/{{app.year}}/{{app.img_default}}-m.jpg" alt="{{app.name}}"></div>
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12 col-lg-offset-1">
                                    <div class="circle" v-if="app.android"><i class="icon-android"></i><p>Android</p></div>
                                    <div class="circle" v-if="app.ios"><i class="icon-apple"></i><p>iOS</p></div>
                                    <div class="circle" v-if="app.design"><i class="icon-feather"></i><p>Design</p></div>
                                </div>
                                <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                                    <h2>{{app.name}}</h2>
                                    <p><i class="icon-android" v-if="app.android"></i><i class="icon-apple" v-if="app.ios"></i><a href="{{app.url}}" target="_blank">{{app.url_text}}</a></p>
                                    <p>{{app.description}}</p>
                                </div>
                            </div>
                            <img data-default-src="images/fulls/{{app.year}}/{{demo_item}}" class="img-responsive" alt="{{app.name}}" v-for="demo_item in app.demo">
                    </div>
                </div>
            </section>
            <!-- End #app-design -->
            <!-- ui-design -->
            <!-- <section id="ui-design" class="wow fadeInDown" data-wow-delay="0.2s">
                <h2>Daily UI</h2>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12" v-for="ui in uilist">
                        <a href="images/dailyui/{{ui.img_default}}.jpg" class="project-item fancybox to-animate" rel="gallery3">
                            <img src="images/dailyui/{{ui.img_default}}.jpg" class="img-responsive">
                        </a>
                    </div>
                </div>
            </section> -->
            <!-- End #app-design -->
            <!-- #Contact Me -->
            <section id="contact">
                <div class="row">
                    <div class="col-m-12">
                        <h2>Contact Me</h2>
                    </div>
                    
                    <form action="https://formspree.io/karen.sh.tsai@gmail.com" method="POST">
                            <div class="col-md-12">
                                <input type="text" name="name" id="name" placeholder="Name" required/>
                            </div>
                            <div class="col-md-12">
                                <input type="email" name="_replyto" id="email" placeholder="Email" required/>
                            </div>
                            <div class="col-md-12">
                                <textarea id="input_message" rows="4" cols="50" name="comment" maxlength="300" id="message" placeholder="Message" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" id="submit" value="Send Message"/>
                                <input type="hidden" name="_next" value="https://karentsai2397.github.io/thanks.html"/>
                                <input type="hidden" name="_cc" value="pobo210397@gmail.com" />
                            </div>
                    </form>
                </div>
            </section>
        </div>
    <!-- End .content -->
    </div><!-- End .container -->
    <!-- Footer -->
    <footer>
        <ul class="copyright">
            <li><a href="mailto:karen.sh.tsai@gmail.com" class="icon">karen.sh.tsai@gmail.com</a></li>
            <li>&copy; <a href="http://karentsai2397.github.io" class="icon">2019 Karen Tsai</a></li>
        </ul>
    </footer>
    <!-- JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Vue.js -->
    <script src='js/vue.js'></script>
    <script src="js/data.js"></script>
    <!-- Fancybox -->
    <script src="js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
    <!-- Wow -->
    <script src="js/wow.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27418976-10"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-27418976-10');
    </script>

</body>

</html>
